<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QRReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5618C9B71E8B4DC6002E66D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5618C9D01E8B4DC9002E66D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5618C9DB1E8B4DC9002E66D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
